.insertCard {
    width: 30%
}

/*.input {
    width: 80% !important;
}*/

.form-group {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
.input{
    margin-top: 20px !important;
}

.operation{
    margin-top: 10% !important;
}